<div class="container-fluid max-500">
  <div class="row">
    <div class="col-12 text-center mt-2">
      <h4>Compra y vende criptomonedas de forma rapida y segura</h4>
    </div>
  </div>

  <div class="row pt-2 pb-4">
    <div class="col-12">
      <h2>
        <img src="../../../assets/items/logocripto.png" class="itemMenu" alt="" srcset="">
        Criptomonedas
      </h2>
    </div>
    <div class="col-6">
      <button class="bluebtn btn w-100">Comprar</button>
    </div>
    <div class="col-6">
      <button class="grizbtn btn w-100">Vender</button>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="max-500 m-auto pb-3"> 
    <div class="row">
      <div class="col-12 medio-bg">
        <h2 class="prox-h1">
          <img src="../../../assets/items/logo-electro.png" class="itemMenu" alt="" srcset="">
          Electronicos
        </h2>
        <b class="prox">Proximamente</b>
      </div>
      <div class="col-6">
        <button class="bluebtn btn w-100" >Comprar</button>
      </div>
      <div class="col-6">
        <button class="grizbtn btn w-100" >Vender</button>
      </div>
      <div class="col-12">
        <h2 class="prox-h1">
          <img src="../../../assets/items/logo-remesas.png" class="itemMenu" alt="" srcset="">
          Remesas
        </h2>
        <b class="prox">Proximamente</b>
      </div>
      <div class="col-12 mt-2">
        <button class="bluebtn btn w-100" >Remesas en Bolivares</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <img src="../../../assets/items/bottom-img.png" class="img-bottom" alt="">
    </div>
  </div>
</div>

